[submodule "checkout"]
	path = checkout
	url = https://github.com/actions/checkout
[submodule "cache"]
	path = cache
	url = https://github.com/actions/cache
[submodule "upload-artifact"]
	path = upload-artifact
	url = https://github.com/actions/upload-artifact
[submodule "setup-python"]
	path = setup-python
	url = https://github.com/actions/setup-python
[submodule "download-artifact"]
	path = download-artifact
	url = https://github.com/actions/download-artifact
[submodule "gh-action-pypi-publish"]
	path = gh-action-pypi-publish
	url = https://github.com/pypa/gh-action-pypi-publish
